@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
}
h1, h2 {
    /* font-family: "Faculty Glyphic", sans-serif; */
    font-weight: 800;
}
h3, h4, h5, h6 {
    font-weight: 600;
}
img {
    width: 100%;
    min-width: 0px;
    min-height: 0px;
    object-fit: cover;
}
.container {
    width: 90dvw;
    max-width: 1620px;
    margin: 0px auto;
}
.hidden {
    display: none !important;
}
.disabled {
    opacity: 0.5;
    pointer-events: none;
}
/* header and nav */
header > .container {
    display: flex;
    gap: 10px 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}
header nav {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    a {
        text-decoration: none;
        color: #7c6dbd;
    }
}

/* intro section */
.intro > .container {
    padding-bottom: 25px;
    display: flex;
    gap: 25px;
    align-items: center;
    div {
        flex: 1;
    }
    .content {
        grid-area: txt;
        text-wrap: pretty;
        max-width: 600px;
    }
    .imgc {
        grid-area: img;
        height: 200px;
        max-height: max-content;
        padding-left: 25px;
        img {
            display: block;
            height: 100%;
        }
    }
}

/* Agenda section */
.agenda > .container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
    justify-content: space-between;
    h2 {
        flex: 100%;
    }
    .a-bloc h3 {
        font-size: 1rem;
        font-weight: 800;
    }
    .a-bloc ul {
        padding: 5px 0px 20px 10px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}