@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
}
h1, h2 {
    /* font-family: "Faculty Glyphic", sans-serif; */
    font-weight: 800;
}
h3, h4, h5, h6 {
    font-weight: 600;
}
img {
    width: 100%;
    min-width: 0px;
    min-height: 0px;
    object-fit: cover;
}
.container {
    width: 90dvw;
    max-width: 1440px;
    margin: 0px auto;
}
.hidden {
    display: none !important;
}
.disabled {
    opacity: 0.5;
    pointer-events: none;
}
/* header and nav */
header > .container {
    display: flex;
    gap: 10px 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}
header nav {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    a {
        text-decoration: none;
        color: #7c6dbd;
    }
}

/* intro section */
.intro {
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    div {
        flex: 1;
    }
    h2, p {
        text-wrap: pretty;
    }
    .imgc {
        height: 200px;
        img {
            display: block;
            height: 100%;
        }
    }
}