* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Avenir", sans-serif;
}
.sc {
    width: 90vw;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
header {
    padding-top: 25px;
}
section {
    margin: 40px 0px;
    > h2 {
        margin-bottom: 15px;
    }
    .layout > div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        h3, ol, .notes {
            padding: 25px;
            border: 1px solid;
        }
    }
    .layout > div h3 {
        background-color: #ffebd4;
    }
    .layout > div .new {
        background-color: #dfffe4;
    }
    .layout > div .old {
        background-color: #ffecec;
    }
    .layout > div .notes {
        background-color: #d7d7d7;
    }
    .layout .rework {
        background-color: #e8e2ff;
        border: 1px solid;
        padding: 15px;
    }
    .layout .new strong i {
        color: #c92c00;
        font-size: 12px;
        display: block;
    }
}