@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url("https://use.typekit.net/ujd6nda.css");
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: "Rethink Sans", Arial,  sans-serif;
    background-color: #fff8e9;
    color: #4e1e14;
}
h1, h2, h3 {
    font-family: "swear-text", Georgia, serif;
}
img {
    width: 100%;
    object-fit: cover;
}
a {
    color: #4e1e14;
    text-decoration: none;
}

/* Using width, max-width, and margin create a single column class layout. */
.single-column {
    width: 90%;
    max-width: 1280px;
    margin: 0px auto;
}

/* SBS Layout */
#sbs {
    display: flex;
    gap: 50px;
    height: 85vh;
    margin-bottom: 50px;
} 
#sbs .image-container {
    flex: 1;
}
#sbs .image-container img {
    height: 100%;
}
#sbs .content {
    flex: 1;
    padding: 50px 0px;
    margin-right: 5%;
    height: max-content;
    align-self: center;
}
#sbs .content .border {
    border: 1.5px dashed #6d3f2f;
    padding: 35px 25px;
}
#sbs .content .date, 
#sbs .content .date a {
    letter-spacing: 0.15em;
    font-size: 14px;
    font-weight: 500;
}
#sbs .content .date a {
    text-decoration: underline;
}
#sbs .content h1 {
    font-size: 44px;
}
#sbs .content .desc {
    margin: 30px 0px;
    font-size: 18px;
}
#sbs .content .times {
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: flex;
    text-align: center;
}
#sbs .content .times span {
    padding: 15px;
    flex: 1;
}
#sbs .content .times b {
    display: block;
}
#sbs .content .times .mid {
    border-left: 1px solid;
    border-right: 1px solid;
}
#sbs .content .btn {
    border: 1px solid;
    display: inline-block;
    margin-top: 30px;
}
#sbs .content .btn .cta {
    padding: 5px 30px;
    letter-spacing: 0.15em;
}
#sbs .content .btn .icon {
    display: inline-block;
    padding: 5px 8px;
    border-left: 1px solid;
}

/* Card Layout */
#section-1 h2 {
    text-align: center;
    font-size: 52px;
}
#section-1 .card-container {
    display: flex;
    gap: 15px;
}
#section-1 .card-container .card {
    flex: 1;
}
#section-1 .card-container img {
    height: 350px;
}
#section-1 .card-container h3 {
    margin: 15px 0px 50px;
    font-size: 25px;
}

/* Responsive */
@media screen and (max-width: 780px) {
    #sbs {
        display: block;
        height: auto;
    }
    #sbs .image-container {
        height: 250px;
    }
    #sbs .content .border {
        width: 90%;
        max-width: 1280px;
        margin: 0px auto;
    }
    #section-1 .card-container {
        flex-wrap: wrap;
    }
    #section-1 .card-container .card {
        flex: 1 calc(50% - 25px);
    }
}