@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --blk: #000;
    --wht: #fff;
    --main: #e1a177;
    --sec: #362921;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
}
h1, h2 {
    font-family: "Lobster Two", sans-serif;
}
a {
    display: inline-block;
    text-decoration: none;
    color: var(--blk);
}
.container {
    width: 90dvw;
    max-width: 1280px;
    margin: 0px auto;
}
.btn {
    background-color: var(--main);
    padding: 8px 20px;
    border-radius: 24px;
    border: 2px solid var(--main);
    transition: background-color 0.5s, color 0.5s;
    &:hover {
        background-color: transparent;
        color: var(--main);
    }
}

/* Header & Navigation */
header {
    position: relative;
    background:
    linear-gradient(to bottom, #e1a17700 80%, #362921),
        url("../media/heroc.jpg")
    ;
    background-size: cover;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: max-content minmax(0px, 1fr);
}
header nav.container {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .links {
    background-color: #eee;
    border-radius: 25px;
    display: flex;
    a:not(.btn) {
        padding: 10px 20px;
        transition: background-color 0.5s;
        &:hover {
            background-color: var(--main);
        }
        &:first-of-type {
            border-radius: 25px 0px 0px 25px;
        }
        &:nth-of-type(4):hover ~ a.btn {
            background-color: transparent;
            border-color: transparent;
        }
    }
    
}
header .logo {
    width: 100px;
}
/* Hero */
.hero {
    display: grid;
    grid-template-columns: 1fr minmax(500px, 800px);
    gap: 50px;
    align-content: center;
    h1 {
        align-self: end;
        font-size: clamp(2rem, 5vw, 6rem);
    }
}