@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
    padding: 25px 0px 40px;
}
h1, h2, h3 {
    font-family: "Bebas Neue", sans-serif;
}
main {
    width: 90%;
    max-width: 1440px;
    margin: 0px auto;
}
li img {
    width: 20px;
}
ul {
    list-style-type: none;
}
strong {
    font-weight: 800;
}

#shortcuts ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 25px 0px;
    li {
        padding: 15px;
        background-color: #ffe2cd;
        border: 2px solid #ffb47f;
        display: flex;
        flex-direction: column;
        gap: 15px;
        div {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 5px;
        }  
    }
}
#workflows, #design-donts {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    > h2 {
        flex: 100%;
    }
}
#workflows > section, #design-donts > section {
    flex: 100%;
    padding: 15px 30px;
    background-color: #cdfeff;
    border: 2px solid #7fc8ff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    ol, ul {
        line-height: 30px;

    }
    li > ul, li > ol {
        list-style-type: square;
        padding-left: 15px;
    }
}
#design-donts > section {
    background-color: #ffcdcd;
    border: 2px solid #ff7f7f;
    h3 {
        margin: 15px 0px 5px;
    }
}