@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
}
main {
    width: 90%;
    max-width: 1440px;
    margin: 0px auto;
}
li img {
    width: 30px;
}
ul {
    list-style-type: none;
}

section {
    margin-bottom: 40px;
}